[uwsgi]
uid =  {{ uwsgi_user }}
gid = {{ uwsgi_group }}
pidfile = {{ uwsgi_run }}/uwsgi.pid
emperor = /etc/uwsgi.d
stats = {{ uwsgi_run }}/stats.sock
cap = setgid,setuid
logfile = {{ uwsgi_log_path }}/uwsgi.service.log
